@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  background-color: #efe7e0; }

#wrapper {
  width: 500px;
  height: 800px;
  margin: 0 auto;
  position: relative; }
  #wrapper .output-left {
    width: 500px;
    height: 800px;
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 999;
    background-color: #ddccbf;
    border: solid 1px white;
    -moz-box-shadow: black 0px 0px 3px;
    -webkit-box-shadow: black 0px 0px 3px;
    box-shadow: black 0px 0px 3px;
    text-align: center; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

p {
  font-size: 20px; }

h1, h2, h3, h4, p {
  font-family: sans-serif, 微軟正黑體 , 新細明體; }

/* 狀態列 */
#status {
  width: 500px;
  height: 100px;
  margin: 10px auto;
  font-size: 24px; }
  #status:before {
    content: '';
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle; }
  #status:after {
    clear: both; }

/* 狀態列-名稱 */
.status-name {
  width: 230px;
  display: inline-block;
  vertical-align: middle; }
  .status-name p {
    color: black;
    font-size: 24px;
    font-family: Arial; }

/* 狀態列-總人數 */
.status-amount {
  width: 250px;
  display: inline-block;
  vertical-align: middle; }
  .status-amount p {
    font-size: 24px;
    font-family: Arial; }
    .status-amount p span {
      color: red; }

/* 聊天室文字輸出區塊 */
#output {
  width: 480px;
  height: 580px;
  display: inline-block;
  margin-top: 10px;
  overflow: auto;
  text-align: left;
  background-color: white; }
  #output p {
    padding: 10px; }
  #output h3 {
    padding: 10px; }

/* 水平區塊-分隔文字輸出和文字輸入 */
#horizontal-bar {
  width: 498px;
  height: 20px;
  background-color: #F5F5F5;
  border-top: solid 1px #ababab;
  border-bottom: solid 1px #ababab;
  margin-top: 10px; }

/* 發送訊息區塊 */
#send {
  width: 500px;
  height: 50px;
  position: relative;
  margin-top: 10px;
  padding: 50px 0px;
  /* 設定顏色 */
  /* 觀看人數 */ }
  #send .set-font-color {
    position: absolute;
    top: 0px;
    right: 49px;
    font-size: 24px; }
  #send .send-bar-list {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 24px; }

/* 輸入文字區塊 */
#data {
  width: 370px;
  height: 50px;
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #data:focus {
    border: solid 3px #476ce8;
    box-shadow: 0px 0px 30px #a3b5f3; }

/* 發送文字按鈕 */
#send-text {
  width: 100px;
  height: 60px;
  display: inline-block;
  background-color: #efefef;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  #send-text p {
    font-size: 24px;
    font-family: Arial;
    line-height: 60px; }

/* 聊天室人員清單 */
.popList {
  width: 250px;
  height: 580px;
  position: absolute;
  top: 18px;
  right: 10px;
  z-index: 998;
  border: solid 5px #DDCCBF;
  background-color: #fafafa;
  -moz-box-shadow: 0px 0px 10px black;
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  /* 顯示線上人數 */
  /* 顯示人員名稱 */ }
  .popList .popList-top {
    width: 170px;
    height: 50px;
    position: relative;
    margin: 20px auto 0px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* 關閉按鈕 */ }
    .popList .popList-top h3 {
      padding-top: 15px;
      text-align: center;
      font-family: Arial; }
    .popList .popList-top .clear {
      position: absolute;
      top: -20px;
      right: -35px;
      font-size: 35px; }
  .popList .popList-content {
    width: 240px;
    height: 470px;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fafafa; }
    .popList .popList-content .popList-person {
      width: 240px;
      height: 60px; }
      .popList .popList-content .popList-person:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle; }
      .popList .popList-content .popList-person p {
        display: inline-block;
        padding: 2px 5px;
        vertical-align: middle; }
      .popList .popList-content .popList-person img {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle; }

.popColor {
  width: 245px;
  height: 124px;
  position: absolute;
  top: 638px;
  right: -280px;
  border: solid 4px white;
  background-color: black;
  box-shadow: 0px 0px 10px black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: none; }
  .popColor ul {
    list-style-type: none; }
    .popColor ul li {
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 8px;
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      border-radius: 40px; }
