$fontSize : 20px;
body {
  background-color: #efe7e0;
}
#wrapper {
  width: 500px;
  height: 800px;
  margin: 0 auto;
  position: relative;
  .output-left {
    width: 500px;
    height: 800px;
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 999;
    background-color: #ddccbf;
    border: solid 1px white;
    @include box-shadow(black 0px 0px 3px);
    text-align: center;
  }

}
h1 {
  font-size: $fontSize * 2;
}
h2 {
  font-size: $fontSize * 1.6;
}
h3 {
  font-size: $fontSize * 1.4;
}
h4 {
  font-size: $fontSize * 1.2;
}
p{
  font-size: $fontSize;
}
h1, h2, h3, h4, p {
  font-family: sans-serif, 微軟正黑體 , 新細明體;
}
