/* 聊天室文字輸出區塊 */
#output {
  display: inline-block;
  width: 480px;
  height: 580px;
  overflow: auto;
  background-color: white;
  margin-top: 10px;
  text-align: left;
  p {
    padding: 10px;
  }
  h3 {
    padding: 10px;
  }
}